* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body{
    background-color: rgb(219, 192, 245);
}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 18px;
    box-shadow: 3px 3px 5px black;

}